{% extends "network/layout.html" %}

{% block body %}

    <h2>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <div class="form-group">
            <input type="radio" id="avatar_bucket.png" name="avatar" value="avatar_bucket.png">
            <label for="avatar_bucket.png"><img src="../../static/network/img/avatars/avatar_bucket.png" alt="avatar_bucket.png"></label><br>
            
            <input type="radio" id="avatar_boomerang_courage_courage.png" name="avatar" value="avatar_boomerang_courage_courage.png">
            <label for="avatar_boomerang_courage_courage.png"><img src="../../static/network/img/avatars/avatar_boomerang_courage_courage.png" alt="avatar_boomerang_courage_courage.png"></label><br>
            
            <input type="radio" id="avatar_disk.png" name="avatar" value="avatar_disk.png">
            <label for="avatar_disk.png"><img src="../../static/network/img/avatars/avatar_disk.png" alt="avatar_disk.png"></label><br>
            
            <input type="radio" id="avatar_cat_orange_purple.png" name="avatar" value="avatar_cat_orange_purple.png">
            <label for="avatar_cat_orange_purple.png"><img src="../../static/network/img/avatars/avatar_cat_orange_purple.png" alt="avatar_cat_orange_purple.png"></label><br>
            
            <input type="radio" id="avatar_catbug.png" name="avatar" value="avatar_catbug.png">
            <label for="avatar_catbug.png"><img src="../../static/network/img/avatars/avatar_catbug.png" alt="avatar_catbug.png"></label><br>
            
            <input type="radio" id="avatar_donutred.png" name="avatar" value="avatar_donutred.png">
            <label for="avatar_donutred.png"><img src="../../static/network/img/avatars/avatar_donutred.png" alt="avatar_donutred.png"></label><br>
            
            <input type="radio" id="avatar_ch_3.png" name="avatar" value="avatar_ch_3.png">
            <label for="avatar_ch_3.png"><img src="../../static/network/img/avatars/avatar_ch_3.png" alt="avatar_ch_3.png"></label><br>
        
            <input type="radio" id="avatar_coffee_bigface_yellow.png" name="avatar" value="avatar_coffee_bigface_yellow.png">
            <label for="avatar_coffee_bigface_yellow.png"><img src="../../static/network/img/avatars/avatar_coffee_bigface_yellow.png" alt="avatar_coffee_bigface_yellow.png"></label><br>
        
            <input type="radio" id="avatar_wizard.png" name="avatar" value="avatar_wizard.png">
            <label for="avatar_wizard.png"><img src="../../static/network/img/avatars/avatar_wizard.png" alt="avatar_wizard.png"></label><br>
        
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>

    Already have an account? <a href="{% url 'login' %}">Log In here.</a>

{% endblock %}