$bg : #4A76A8;
$bg-dark : #406794;
$bg-darker : #274466;
*
{
    box-sizing: border-box;
}
body
{
    background: $bg;
    color: #fafafa;
    text-align: center;
    .navbar
    {
        background: $bg-darker;
        color: #fafafa;
    }
    a
    {
        color: #c1c1c1;
        &:hover
        {
            color: #fafafa;
        }
    }
    #index, #profile, #following
    {
        display: flex;
        padding: 70px;
        justify-content: space-between;
        .paginator
        {
            margin: 0;
            margin-top: 50px;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: center;
            li
            {
                a
                {
                    background: $bg-dark;
                    border: 1px solid $bg-darker;
                    color: #fff;
                    font-weight: bold;
                    font-size: 1.2em;
                    &:hover
                    {
                        background: rgba($bg-dark, 0.1);

                    }
                }
            }
            .disabled
            {
                cursor: pointer;
                a
                {
                    color: #cacaca;
                    &:hover
                    {
                        background: rgba($bg-dark, 0.1);
                    }
                }
            }
        }
        a
        {
            text-decoration: none;
            &:hover
            {

                img
                {
                    transform: scale(1.5);
                    transition: transform 0.1s;
                }
            }
        }
        .leader
        {
            h2
            {
                background: #c4aa5b !important;
            }
        }
        .profile-card, #login
        {
            margin: 0 !important;
            height: fit-content;
            padding-bottom: 20px;
            img
            {
                margin-top: 20px;
                width: 250px;
            }
            a, p
            {
                margin: 0;
                padding: 0;
                font-size: 1.5em;
            }
            .newuser
            {
                list-style: none;
                padding: 50px 0;
                li
                {
                    margin-top: 20px;
                }
            }
        }
    }
    #register, #login, #index .profile-card, #profile .profile-card, #following .profile-card, #index #login
    {
        -webkit-box-shadow: 0px 10px 52px 5px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 10px 52px 5px rgba(0,0,0,0.75);
        box-shadow: 0px 10px 52px 5px rgba(0,0,0,0.75);
        border-radius: 5px;
        width: 30%;
        padding-bottom: 10px;
        margin: 20px auto;
        background: $bg-dark;
        border-radius: 30px;
        h2
        {
            background: $bg-darker;
            padding: 10px 0;
            margin: 0;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
        }
        
        form
        {
            padding: 10px 10px 0;
            input
            {
                background: rgba(255,255,255, 0.8);
                &:focus
                {
                    background: rgba(255,255,255, 0.95);

                }
            }
            input[type=submit]
            {
                color: black;
                font-weight: bold;
            }
            .avatar-list
            {
                input[type=radio]
                {
                    display: none;
                }
                label
                {
                    border-radius: 50%;
                    cursor: pointer;
                    img
                    {
                        border-radius: 50%;
                        width: 100px;
                    }
                }
                .active
                {
                    border: 5px solid white;
                    transform: scale(2);
                    transition: transform 0.1s;
                    
                }
            }
        }
    }
}